<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>RoboBlock v.1.0.0 [DEV]</title>
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/ui.css">
  <link rel="stylesheet" href="/static/css/blocks.css">
  <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>
  <link rel="stylesheet" href="/static/css/modal.css">
  <link rel="shortcut icon" href="/static/imgs/favicon.ico" type="image/x-icon">

</head>

<body>
  <nav id="menu" class="panel">
    <div class="panel-toolbar">
      Available blocks
    </div>
    <div id="menu-contents" class="panel-contents"></div>
  </nav>
  <main>
    <div id="code" class="panel">
      <div class="panel-toolbar">
        Actions chain
        <div class="panel-toolbar">
          <ion-icon id="settings" name="settings-outline" class="icon"></ion-icon>
          <ion-icon id="load_project" name="cloud-upload-outline" class="icon">
          </ion-icon>
          <ion-icon name="push-outline" class="icon" onclick="send_ajax()"></ion-icon>
          <ion-icon id="trash" onclick="purgeOnConfirm()" name="trash-outline" ondragover="removeDragOver(event)"
            ondrop="removeDrop(event)" class="icon">
          </ion-icon>
          <ion-icon onclick="run()" name="caret-forward-circle-outline" class="icon">
          </ion-icon>
        </div>
      </div>
      <div id="code-contents"></div>
    </div>
    <div class="compiled-block">
      <div class="panel-toolbar">
        JSON:
      </div>
      <div class="json_source"></div>
      <a class="download_json" style="display:none" onclick="downloadObjectAsJson()">Download json file</a>
      <span class="raw_json" style="display: none;"></span>
      <div class="panel-toolbar">
        ARDUINO:
        <div class="arduino_source">

        </div>
      </div>
    </div>
  </main>

  <div id="myModal" class="modal">
    <div class="modal-content">
      <span id="close_modal" class="close">&times</span>
      <h2>Load project</h2>
      <p>Insert JSON file content:</p>
      <textarea class="json_content" cols="30" rows="10"></textarea>
      <button class="load_json" onclick="load_project()">Load</button>

    </div>

  </div>


  <div id="settinsgModal" class="modal">
    <div class="modal-content">
      <span id="close_settings" class="close">&times</span>
      <h2>RoboBlock settings</h2>
      <p>Language: <a class="setting_link">EN</a> <a class="setting_link">RU</a>
      </p>
      <div class="flask_addr">
        <p>Flask addr(IP:PORT): </p>
        <input type="text" class="flask_addr_input" value="127.0.0.1:5000" autocomplete="off">
      </div>
      <p>Theme: <a class="setting_link">Dark</a> <a class="setting_link" onclick="change_theme()">Light</a>
      </p>


    </div>

  </div>

  <div id="watermark" style="display: none;">
    <h3>Активация Windows</h3>
    Чтобы активировать Windows, перейдите в<br>
    раздел "Параметры".
  </div>



  <script src="/static/js/drag.js"></script>
  <script src="/static/js/blocks.js"></script>
  <script src="/static/js/blocks_data.js"></script>
  <script src="/static/js/vm.js"></script>
  <script src="/static/js/blks.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src=https://cdn.jsdelivr.net/npm/pretty-print-json@1.2/dist/pretty-print-json.min.js></script>
  <script src="/static/js/save_load.js"></script>
  <script src="/static/js/backend_integration.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <link rel=stylesheet href=https://cdn.jsdelivr.net/npm/pretty-print-json@1.2/dist/pretty-print-json.dark-mode.css>
  <script src="/static/js/themes.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/10.5.2/math.js"></script>

  <!-- Fun; Check OS-->
  <script>
    function check() {
      console.log("Checking OS");
      if (!window.navigator.platform.includes("Linux")) {
        console.log("Win");
        toastr.warning('Please activate your Windows 10 copy!');
        $("#watermark").css("display", "block");
      }
    }
    window.addEventListener('load', function () {
      check();
    });

  </script>

</body>

</html>