<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>RoboBlock v.1.5.0 [DEV]</title>
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/ui.css">
  <link rel="stylesheet" href="/static/css/blocks.css">
  <script type="module" src="https://unpkg.com/ionicons@6.0.1/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@6.0.1/dist/ionicons/ionicons.js"></script>
  <link rel="stylesheet" href="/static/css/modal.css">
  <link rel="shortcut icon" href="/static/imgs/favicon.ico" type="image/x-icon">

</head>

<body>
  <nav id="menu" class="panel">
    <div class="panel-toolbar">
      Available blocks
    </div>
    <div id="menu-contents" class="panel-contents"></div>
  </nav>
  <main>
    <div id="code" class="panel">
      <div class="panel-toolbar">
        Actions chain
        <div class="panel-toolbar">
          <ion-icon id="camera" name="camera-outline" class="icon" onclick="updateShotServerReq()"></ion-icon>
          <ion-icon id="settings" name="settings-outline" class="icon"></ion-icon>
          <ion-icon id="load_project" name="cloud-upload-outline" class="icon">
          </ion-icon>
          <ion-icon name="push-outline" class="icon" onclick="send_ajax()"></ion-icon>
          <ion-icon id="trash" onclick="purgeOnConfirm()" name="trash-outline" ondragover="removeDragOver(event)"
            ondrop="removeDrop(event)" class="icon">
          </ion-icon>
          <ion-icon onclick="run()" name="caret-forward-circle-outline" class="icon">
          </ion-icon>
        </div>
      </div>
      <div id="code-contents"></div>
    </div>
    <div class="compiled-block">
      <div class="panel-toolbar">
        JSON:
      </div>
      <div class="json_source"></div>
      <a class="download_json" style="display:none" onclick="downloadObjectAsJson()">Download json file</a>
      <span class="raw_json" style="display: none;"></span>
    </div>
   
    <div class="compiled-block">
      <div class="panel-toolbar" id="camera_shot_title">
        Camera Screenshot
      </div>
      <img src="{{ url_for('video_feed1') }}" width="500">

      <h2>Manual controller</h2>
      <input type="checkbox" style="width: 3%" name="enabled_status" id="enabled_status"><label for="enabled_status">Enabled</label></br></br>
      <button class="controller_btn" style="margin-left: 90px" onclick="send_direction('forward', 1000)"><ion-icon name="caret-up-outline" class="icon"></ion-icon></button></br>
      <button class="controller_btn" onclick="send_direction('left', 90)"><ion-icon name="caret-back-outline" class="icon"></ion-icon></button>
      <button class="controller_btn" style="margin-left: 32px" onclick="send_direction('right', 90)"><ion-icon name="caret-forward-outline" class="icon"></ion-icon></button>
      <button class="controller_btn" style="margin-left: -88px;" onclick="send_direction('forward', -1000)"><ion-icon name="caret-down-outline" class="icon"></ion-icon></button>

    </div>


  </main>

  <div id="myModal" class="modal">
    <div class="modal-content">
      <span id="close_modal" class="close">&times</span>
      <h2>Load project</h2>
      <p>Insert JSON file content:</p>
      <textarea class="json_content" cols="30" rows="10"></textarea>
      <button class="load_json" onclick="load_project()">Load</button>

    </div>

  </div>


  <div id="settinsgModal" class="modal">
    <div class="modal-content">
      <span id="close_settings" class="close">&times</span>
      <h2>RoboBlock settings</h2>
      <p>Language: <a class="setting_link">EN</a> <a class="setting_link">RU</a>
      </p>
      <p>Theme: <a class="setting_link">Dark</a> <a class="setting_link" onclick="change_theme()">Light</a>
      </p>


    </div>

  </div>

  



  <script src="/static/js/drag.js"></script>
  <script src="/static/js/blocks.js"></script>
  <script src="/static/js/blocks_data.js"></script>
  <script src="/static/js/vm.js"></script>
  <script src="/static/js/blks.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src=https://cdn.jsdelivr.net/npm/pretty-print-json@1.2/dist/pretty-print-json.min.js></script>
  <script src="/static/js/save_load.js"></script>
  <script src="/static/js/backend_integration.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <link rel=stylesheet href=https://cdn.jsdelivr.net/npm/pretty-print-json@1.2/dist/pretty-print-json.dark-mode.css>
  <script src="/static/js/themes.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/10.5.2/math.js"></script>
  <script src="/static/js/camera.js"></script>
  <script src="/static/js/controller.js"></script>

  <!-- Fun; Check OS-->


</body>

</html>